# Богданов Александр Иванович, Б05-003

## Задача 3.2

Выборка: статистика бросков для игроков NBA

Дана статистика бросков для игроков NBA. Выборка представляет собой статистику бросков для различных игроков NBA. Для каждого игрока известны:

1. количество успешных бросков в домашних играх (score_home)
2. количество бросков в домашних играх (atm_home)
3. количество успешных бросков в гостевых играх (score_away)
4. количество бросков в гостевых играх (atm_away)

Требуется определить, есть ли разница в успехе бросков у игроков в домашних и гостевых играх. У какого процента игроков разница в успехе существенна?

## Решение

In [65]:
import pandas as pd
import numpy as np
from statsmodels.stats.descriptivestats import sign_test

Загрузим данные.

In [49]:
data = pd.read_csv('data/nba.csv', index_col=0)
data

,player,team,atm_away,atm_home,score_away,score_home,atm_total,score_total
7,A. Johnson,ATL,30,34,24,28,64,52
10,A. Johnson,TOR,63,57,44,38,120,82
15,Abdur-Rahim,SAC,114,124,84,90,238,174
22,Afflalo,DEN,236,284,189,227,520,416
23,Afflalo,DET,75,88,62,67,163,129
...,...,...,...,...,...,...,...,...
1687,Yi,NJN,54,79,44,59,133,103
1688,Yi,WAS,55,36,38,24,91,62
1690,Young,MEM,163,155,130,114,318,244
1691,Young,PHI,406,401,302,285,807,587
1692,Young,WAS,408,397,339,327,805,666

Сгрупируем по игрокам и переведем всю статистику в проценты.

In [50]:
data = data.groupby('player').sum()

data['success_rate_home'] = data['score_home'] / data['atm_home']
data['success_rate_away'] = data['score_away'] / data['atm_away']

data = data.drop(['team',
                  'score_home',
                  'score_away',
                  'score_total',
                  'atm_home',
                  'atm_away',
                  'atm_total'] , axis=1)

data.index = np.arange(len(data))
data

     success_rate_home  success_rate_away
0             0.725275           0.731183
1             0.725806           0.736842
2             0.790323           0.807074
3             0.795745           0.754171
4             0.723404           0.666667
..                 ...                ...
453           0.724138           0.509091
454           0.711670           0.694553
455           0.853333           0.870536
456           0.792079           0.760479
457           0.761805           0.789150

[458 rows x 2 columns]

In [66]:
success_rate_home = data['success_rate_home']
success_rate_away = data['success_rate_away']

Воспользуемся одновыборочным критерием знаков

In [78]:
_, p = sign_test(success_rate_home - success_rate_away)
print(f'Критерий знаков: p-value = {p:.3f}.')

Критерий знаков: p-value = 0.483.

Так как p-value > 0.05, то гипотезу о том, что у игроков есть разница в бросках в гостевых и домашних играх мы не отклоняем.

Будем считать, что разница в успехе существенна, если она больше дисперсии.

In [77]:
threshold = np.std(success_rate_home - success_rate_away)
percent = np.mean(np.abs(success_rate_home - success_rate_away) > threshold) * 100
print(f'У {percent:.2f}% игроков разница существенная.')

У 21.18% игроков разница существенная.